In [1]:
import pandas as pd
import numpy as np
from sklearn.neighbors import *
from sklearn.model_selection import *
from sklearn.preprocessing import *
from sklearn.metrics import *
from sklearn.compose import *
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"/home/sarthakredasani/Documents/CDAC_ML/Datasets/Datasets/Boston.csv")
df.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
X, y = df.drop('medv', axis=1), df['medv']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=25)

In [5]:
ks = np.arange(1,21)
scores = []
for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores.append([i , r2_score(y_test, y_pred)])
df_score = pd.DataFrame(scores, columns=['K' , 'score'])
df_score.sort_values('score', ascending=False).iloc[0]

K        6.000000
score    0.438985
Name: 5, dtype: float64

In [6]:
# Standard Scaler

In [7]:
scl_std = StandardScaler()
X_trn_scl = scl_std.fit_transform(X_train)
X_tst_scl = scl_std.transform(X_test)

In [8]:
ks = np.arange(1,21)
scores = []
for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_trn_scl, y_train)
    y_pred = knn.predict(X_tst_scl)
    scores.append([i , r2_score(y_test, y_pred)])
df_score = pd.DataFrame(scores, columns=['K' , 'score'])
df_score.sort_values('score', ascending=False).iloc[0]

K        3.000000
score    0.766754
Name: 2, dtype: float64

In [9]:
#  Min MAx Scaler

In [10]:
scl_mm = MinMaxScaler()
X_trn_mm = scl_mm.fit_transform(X_train)
X_tst_mm = scl_mm.transform(X_test)

In [11]:
ks = np.arange(1,21)
scores = []
for i in ks:
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(X_trn_mm, y_train)
    y_pred = knn.predict(X_tst_mm)
    scores.append([i , r2_score(y_test, y_pred)])
df_score = pd.DataFrame(scores, columns=['K' , 'score'])
df_score.sort_values('score', ascending=False).iloc[0]

K        4.000000
score    0.736164
Name: 3, dtype: float64