In [57]:
# Regularized

In [84]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import *
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
import os

In [85]:
df = pd.read_csv(r"/home/sarthakredasani/Documents/CDAC_ML/Datasets/Datasets/Exp_Salaries.csv")
df.head()

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Gender,Department,Number_Supervised
0,32782,1,0,7,Male,A,0
1,32920,3,15,9,Female,A,4
2,29548,6,5,1,Male,A,0
3,39828,6,18,5,Female,A,5
4,31528,11,3,3,Male,A,6

In [86]:
df_dum = pd.get_dummies(df, drop_first=True)
X, y = df_dum.drop('Salary', axis =1), df_dum['Salary']

In [87]:
df_dum

,Salary,Years_Previous_Experience,Years Employed,Years_Education,Number_Supervised,Gender_Male,Department_B,Department_C,Department_D
0,32782,1,0,7,0,True,False,False,False
1,32920,3,15,9,4,False,False,False,False
2,29548,6,5,1,0,True,False,False,False
3,39828,6,18,5,5,False,False,False,False
4,31528,11,3,3,6,True,False,False,False
5,38985,7,18,9,5,True,False,False,False
6,41889,16,22,7,7,True,False,False,False
7,38791,4,21,5,9,True,False,False,False
8,28985,1,0,4,4,False,False,False,False
9,24749,2,6,0,1,False,False,False,False
10,35467,6,3,6,3,False,True,False,False
11,35468,5,9,4,5,False,True,False,False
12,29876,0,2,3,5,False,True,False,False
13,43674,9,6,4,2,True,True,False,False
14,36431,4,9,4,2,False,True,False,False
15,26578,6,0,2,2,False,True,False,False
16,36571,1,6,4,2,True,True,False,False
17,56326,3,12,8,6,True,True,False,False
18,23654,0,0,0,2,False,False,True,False
19,36578,4,4,8,8,True,False,True,False
20,37548,9,19,4,6,True,False,True,False
21,53234,0,25,6,3,True,False,True,False
22,54679,3,20,6,4,False,False,True,False
23,47536,5,15,6,4,True,False,True,False
24,31425,6,7,5,6,False,False,True,False
25,65487,0,27,12,44,False,False,False,True
26,46184,3,20,4,1,True,False,False,True
27,54899,5,12,8,0,False,False,False,True
28,34869,5,7,4,1,False,False,False,True
29,35487,2,8,2,2,False,False,False,True
30,26548,1,5,0,2,True,False,False,True
31,34231,2,6,6,3,True,False,False,True
32,39331,3,9,6,1,False,False,False,True
33,36512,6,6,4,2,False,False,False,True
34,68425,2,25,12,1,True,False,False,True
35,36487,5,6,2,3,True,False,False,True
36,34632,4,5,4,0,True,False,False,True
37,46211,5,14,6,5,False,False,False,True
38,51698,6,18,6,1,True,False,False,True
39,69246,3,22,10,45,True,False,False,True
40,48695,19,6,8,40,True,False,False,True
41,34987,6,9,2,3,False,False,False,True
42,35631,4,6,4,2,True,False,False,True
43,39743,6,9,5,1,False,False,False,True
44,41255,4,9,6,4,True,False,False,True
45,26452,3,1,2,0,False,False,False,True

In [88]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.3, random_state=25)

In [89]:
X_train.shape , y_train.shape

((32, 8), (32,))

In [64]:
# let's do ridge

ridge = Ridge(alpha=0.01)
ridge.fit(X_train, y_train)
y_pred = ridge.predict(X_test)
print(r2_score(y_test, y_pred))

0.7910407741869443

In [65]:
# let's try for other alpha values in for loop
alphas = [0.001, 0.01, 0.1, 0.5, 1, 2]
scores = []
for i in alphas:
    ridge = Ridge(alpha=i)
    ridge.fit(X_train, y_train)
    y_pred = ridge.predict(X_test)
    scores.append(r2_score(y_test, y_pred))

In [66]:
scores

[0.7912880524349931,
 0.7910407741869443,
 0.7883074619076238,
 0.7734415800356187,
 0.7547726275875368,
 0.7252103749002992]

In [67]:
#  using lasso
score = []
for i in alphas:
    lasso = Lasso(alpha=i)
    lasso.fit(X_train, y_train)
    y_pred = lasso.predict(X_test)
    score.append(r2_score(y_test, y_pred))

In [68]:
score

[0.7913150976066066,
 0.7913142703101925,
 0.7913061096585116,
 0.7912693571440292,
 0.7912221348523434,
 0.7911253548427021]

In [69]:
# let's use ElasticNet(L1 + L2)

ratios = [0.01, 0.25, 0.5, 0.75, 0.9]
alphas = [0.001, 0.01, 0.1, 0.5, 1, 2]

scoreEn = []
for a in alphas:
    for r in ratios:
        el = ElasticNet(alpha=a, l1_ratio = r)
        el.fit(X_train, y_train)
        y_predEn = el.predict(X_test)
        scoreEn.append([r, a, r2_score(y_test, y_predEn)])

In [70]:
scoreEn

[[0.01, 0.001, 0.7904235801743191],
 [0.25, 0.001, 0.7906455509029457],
 [0.5, 0.001, 0.7908728900466866],
 [0.75, 0.001, 0.7910961233872358],
 [0.9, 0.001, 0.7912280279336544],
 [0.01, 0.01, 0.7805236695338107],
 [0.25, 0.01, 0.7834048053240269],
 [0.5, 0.01, 0.7862794245951352],
 [0.75, 0.01, 0.7889500695280246],
 [0.9, 0.01, 0.7904133181457869],
 [0.01, 0.1, 0.7015927510721258],
 [0.25, 0.1, 0.716050072865356],
 [0.5, 0.1, 0.7357649210637399],
 [0.75, 0.1, 0.7619710075944122],
 [0.9, 0.1, 0.780385944542066],
 [0.01, 0.5, 0.6261894728675118],
 [0.25, 0.5, 0.637269976612242],
 [0.5, 0.5, 0.6549332684271477],
 [0.75, 0.5, 0.6892694466448691],
 [0.9, 0.5, 0.7356765719996048],
 [0.01, 1, 0.600796967645431],
 [0.25, 1, 0.6107120331885985],
 [0.5, 1, 0.6257741338793192],
 [0.75, 1, 0.6548832879687456],
 [0.9, 1, 0.7009015268105222],
 [0.01, 2, 0.5759253945128998],
 [0.25, 2, 0.586002788818597],
 [0.5, 2, 0.6004273725346516],
 [0.75, 2, 0.6257193808872004],
 [0.9, 2, 0.6652910010648843]]

In [71]:
df_scoreEn = pd.DataFrame(scoreEn, columns=['ratio', 'alpha', 'score'])
df_scoreEn.sort_values('score', ascending=False).head(1)

   ratio  alpha     score
4    0.9  0.001  0.791228

In [81]:
# Inferencing

# now we are loading the SalsToPredict dataset to check the prediction...

In [73]:
sals = pd.read_csv(r"/home/sarthakredasani/Documents/CDAC_ML/Datasets/Datasets/SalsToPredict.csv")
sals.head(5)

,Years_Previous_Experience,Years_Employed,Years_Education,Gender,Department,Number_Supervised
0,2,4,12,Male,A,8
1,5,4,7,Male,A,1
2,9,7,7,Male,B,7
3,15,23,4,Female,B,2
4,6,12,2,Female,C,8

In [76]:
el = ElasticNet(alpha = 0.01, l1_ratio=0.9)
el.fit(X, y)

ElasticNet(alpha=0.01, l1_ratio=0.9)

In [83]:
X.columns

Index(['Years_Previous_Experience', 'Years Employed', 'Years_Education',
       'Number_Supervised', 'Gender_Male', 'Department_B', 'Department_C',
       'Department_D'],
      dtype='object')

In [77]:
el.coef_

array([ -75.09382063,  708.72654331, 1544.73477512,  130.83949942,
       2025.11336869, 8300.5528854 , 4915.54191092, 7974.62834342])

In [78]:
dum_tst = pd.get_dummies(sals, drop_first=True)
dum_tst.columns = X.columns

In [79]:
el.predict(dum_tst)

array([41690.07167425, 32825.23984083, 43736.63407013, 47312.18064812,
       34502.58952918, 46324.17998466, 46166.21303881, 49043.50060145,
       50679.83535114, 40897.73554446, 35633.6735837 , 38386.87834762,
       33085.4194825 , 62012.25233545, 40924.18495821])

In [80]:
sals['predicted_salary'] = el.predict(dum_tst)
sals.head()

,Years_Previous_Experience,Years_Employed,Years_Education,Gender,Department,Number_Supervised,predicted_salary
0,2,4,12,Male,A,8,41690.071674
1,5,4,7,Male,A,1,32825.239841
2,9,7,7,Male,B,7,43736.634070
3,15,23,4,Female,B,2,47312.180648
4,6,12,2,Female,C,8,34502.589529